@using BookStore.Models
@model order
@{
    ViewBag.Title = "Confirmation";
}

<main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Confirmation</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================ confirmation part start =================-->
    <section class="confirmation_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="confirmation_tittle">
                        <span style="font-size:50px">Thank you @Session["userName"]. Your order has been received.</span>
                    </div>
                </div>

                <div class="col-lg-6 col-lx-4">
                    <div class="single_confirmation_details">
                        <h2>Order Details</h2>
                        <ul>
                            <li>
                                <p style="font-size:25px;">order number</p><span style="font-size:20px;">: @Model.Order_id</span>
                            </li>
                            <li>
                                <p style="font-size:25px;">data</p><span style="font-size:20px;">: @Model.Date</span>
                            </li>
                            <li>
                                    <p style="font-size:25px;">total</p><span style="font-size:20px;">: @Model.Total Egp</span>
                                </li>
                           
                        </ul>
                    </div>
                </div>
                

            </div>

        </div>
    </section>
    <!--================ confirmation part end =================-->
</main>