<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Book shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="~/content/assets/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js%22%3E"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/content/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/content/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/content/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/content/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/content/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/content/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/content/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/content/assets/css/slick.css">
    <link rel="stylesheet" href="~/content/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/content/assets/css/style.css">
    <link rel="stylesheet" href="~/content/assets/css/StyleSheet1.css" />
</head>
<body>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#" data-abc="true"><h1>Book <span style="color:red">Shop</span></h1></a>
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a style="font-size:30px" href="/Dashboard">Books</a></li>
                                    <li><a style="font-size:30px" href="/Publisher">Publishers</a></li>
                                    <li><a style="font-size:30px" href="/Authores">Authores</a></li>
                                </ul>        
                            </nav>
                        </div>
                    </div>

                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <a class="navbar-brand" href="#" data-abc="true"><h1>Book <span style="color:red">Shop</span></h1></a>
                            </div>
                            <div class="footer-pera">
                                <p>
                                    You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer bottom -->
                <div class="row align-items-center">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="footer-copy-right">
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This Site is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">MyTeam</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-5">
                        <div class="footer-copy-right f-right">
                            <!-- social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/profile.php?id=100027094544482"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
</body>
</html>
